.itemreview {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    border: 30px solid #f4bf00;
    border-radius: 5px;
    background-color: #fafafa;
    margin-top: 100px; /* 구매 창과의 간격을 위해 추가 */
}

.comments-section {
    margin-top: 20px;
}

.comment {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #fff;
}