.carousel-item{
   font-size:20px;
   font-weight:bold;
   font-style:italic;
   color:rgb(242, 241, 241);
   letter-spacing: 0.2em;            
 }

.td1{
   text-decoration: none;
   color:black;
   text-align:left!important;
}


.page-link{
   color:black;
   text-decoration: none;
   font-size:0.8em;
   padding:5px;
}

.accent{
   color:rgb(255, 255, 106);
   font-size:1.5em;
   text-shadow: 3px 3px 3px #008dff;
   
}

#table1{
   width:1300px;
   text-align: center;
   background-color: rgba(250, 250, 237, 0.5);
   line-height: 35px;
   margin-top: 10px;
   margin-bottom: 15px;
   
}

.thead1{
   background-color: rgba(130, 238, 240, 0.5);
   font-size:larger                        
}

.tbody1{
   font-size:0.8em;
   padding:5px;           
}

.tr1{
   border-bottom: 1px rgba(18, 18, 18, 0.2) solid;
}

.container{
   margin-left:100px;
}

