/* 기본 스타일 설정 */
.spacer {
    height: 20px; /* 원하는 높이 설정 */
    width: 100%; /* 전체 폭 설정 */
    background-color: rgb(151, 255, 250); /* 배경색을 투명하게 설정 */
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    /* overflow-x: hidden; */
  }
  
   /* 상단바 시작 */
#header_wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
} 

body{padding-top: 120px;}

/* 상단바 끝 */
  
  
  
  
  /* 네비게이션 바 스타일 */
  #navbar {
    background-color: #ffef62;
    color: white;
    /* padding: 10px 40px; */
    display: flex;
    width: 100%;
    height: 100px;
    /* align-items: center; */
    justify-content: center;
  }
  
  #logo img {
    width: 100%;
    height: 100px;
  }
  
  /* #header_wrap{
    position: fixed; 
  } */
  /* 이거 실행하면 묻힘 */
  
  
  #navbar{
    display: flex;
    justify-content: space-between;
  }
  
  
        /* 큰 목록 관련 */
  #b_me_wrap{
    margin: 38px auto 5px;
  }
  
  #menu_wrap {
    display: flex;
    justify-content: space-between;
    /* margin-top: 60px; */
    gap: 20px;
    position: relative;
  }
  
  
  
  
  #menu_wrap >li{
    justify-content: space-between;
    flex: none;
    margin: 0 30px;
    list-style: none;
    
  }
        
  #menu_wrap >li>a{
    font-size: 19px;
    text-decoration: none;
    flex: none;
  }
  
  #menu_wrap >li>.de_menu_bg{
    display: none;
    position: absolute;
    width: 300px;
    height: 32px;
    background-color: #e5ff00;
  }
  
  .de_menu_bg > li{
    margin: 0 20px;
    display:inline-block;
    justify-content: space-between;
  }
  
  .de_menu_bg > li>a>b{
    text-decoration: none;
    color: #0b1602;
    font-size: 15px;
    /* background-color: #343a40; */
    margin: 4px 0;
    display: inline-block;
    gap: 20px;
  }
  
  #menu_wrap >li:hover>.de_menu_bg{
    display: flex;
  }
  
  /* 아이콘 */
  
  #icon_wrap{
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: space-between;
    /* margin-top: 50px; */
    /* font-size: 15px; */
  }
  
  #icon_wrap >a{
    font-size: 22px;
    margin-top: 38px;
    gap: 20px;
  }
  
  
  /* 검색박스 */
  
  #search_box{
    width: 100%;
    height: 40px;
    background: #faf9b4;
    /* overflow: hidden; */
    /* position: fixed; */
    display: none;
    /* top: 100px; */
  }
  
  #search_box #pc_search{
    width: 300px;
    outline: none;
    border: none;
  }
  
  #search_box #s_wrap{
    margin: 0 auto;
    text-align:right;
    padding-right: 50px;
    padding-top: 7px;
  }
  
  #search_box #pc_search_ic{
    border: 1px solid #fcf817;
    outline: none;
  }
  
  
  
  
  
  /* 푸터 */
  
  #footer {
  
    width: 100%;
    padding-left: 130px;
    padding-right: 130px;
  }
  
  .ft_li1{
    width: 100%;
    background-color: #f5e570;
    display: flex;
    height: 25px;
    
  }
  
  
  .ft_li1 ul li{
    list-style: none;
    float: left;
    justify-content: center;
    margin-left: 10px;
  }
  
  .ft_li1 ul li a{
    font-size: 11px;
    color: black;
  }
  
  
  
  
  /*여기서부터 두전째 푸터*/
  .ft_li2 .company_logo {
    margin: auto;
  }
  
  .company_logo img{
    width: 160px;
    height: 100%;
  }
  
  
  .ft_li2{
    width: 100%;
    height: 150px;
    background-color: #f8cf5e;
    display: inline-flex;
  }
  
  .ft_li2 .subscribe{
    margin: auto;
  }
  
  .ft_li2 .sns{
    /* border: 1px solid blue; */
    width: 350px
  }
  
  .subscribe .email_gg{
    display: flex;
  }
  
  .subscribe .email_gg #email_put{
    width: 300px;
    height: 35px;
    outline: none;
    border: none;
    /* display: inline; */
    margin-left: 20px;
    margin-top: 12px;
  }
  
  .subscribe .email_gg .email_btn{
    /* display: inline-block; */
    width: 50px;
    height: 35px;
    outline: none;
    border: none;
    margin-top: 12px;
  }
  
  .subscribe span{
    display: block;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
    text-align: left;
  }
  
  
  
  .ft_li2 .sns{
    margin: auto;
  }
  
  .ft_li2 .sns a{
    text-decoration: none;
  }

  .ft_li2 .sns img{
    width: 60px;
    height: 60px;
  }
  
  /* 여기서부터 세번째 푸터 */
  .ft_li3{
    width: 100%;
    height: 160px;
    background-color: #eedaa2;
    display: inline-flex;
  }
  
  .ft_li3 .company_info{
    margin: 15px auto 0px;
    text-align: left;
  }
  
  
  .company_info_d p{
    height: 8px;
    font-size: 13px;
  }
  
  .company_info_d>p>a>b{
    margin-right: 5px;
  }
  
  .company_info_d p a{
    margin-right: 15px;
  }
  
  
  
  
  
  
  .ft_li3 .bank_info{
    margin: 15px auto 0px;
    text-align: left;
  }
  
  .bank_info>p{
    font-size: 13px;
    height: 8px;
    
  }
  
  
  
  .ft_li3 .cs_center{
    margin: 15px auto 0px;
    text-align: left;
  }
  
  
  .cs_center ul{
    display: flex;
    flex-direction: column;
    height: 40px;
  }
  
  .cs_center p {
    font-size: 13px;
    height: 7px;
  }
  
  .cs_center ul li{
    list-style: none;
    text-align: left;
    font-size: 12px;
  }
  
  .company_info>h3{
    margin-bottom: 10px;
  }
  
  .bank_info>h3{
    margin-bottom: 10px;
  }
  
  .cs_center>h3{
    margin-bottom: 10px;
  }

  